.wpsc-survey-wrapper{
    position:relative;
    background:white;
    padding:10%;
    margin:2em;
    text-align: center;
    .credits{
        position:absolute;
        bottom:5x;
        text-align: center;
    }
}