# Files not needed in the release zip.
/.git*             export-ignore
.gitattributes     export-ignore
.github/           export-ignore
package.json       export-ignore
tests/             export-ignore
.phan/             export-ignore
phpunit.*.xml.dist export-ignore
.phpcs.*           export-ignore
.eslintignore      export-ignore
eslint.config.mjs  export-ignore
changelog/         export-ignore
w.org-assets/      export-ignore
